@import './variables.scss';

body {
  //height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  //font-family: $body-font-family;
}

html,body,.v-application {
  font-family: $body-font-family;
  background: #FFFFFF !important;
  .title {
    // To pin point specific classes of some components
    //font-family: $title-font, sans-serif !important;
  }
}
.height-center{
  height: 50vh;
}

//html,
//body,
//.v-application {
//  font-family: $body-font-family;
//}
//added all typography helper classes because of css specificity override
//https://vuetifyjs.com/en/styles/typography#typography
//.v-application {
//  .display-4,
//  .display-3,
//  .display-2,
//  .display-1,
//  .headline,
//  .title,
//  .subtitle-1,
//  .subtitle-2,
//  .body-1,
//  .body-2,
//  .caption,
//  .overline
//  {
//    font-family: $body-font-family;
//  }
//}
//@import '~vuetify/src/styles/settings/_variables.scss';


label {
  color: #751919;
}

html {
  height: 100%;
  box-sizing: border-box;
}
.v-btn{
  border-radius: $btn-border-radius;
  text-transform: $btn-text-transform;
  letter-spacing: $btn-letter-spacing;

 }

.v-input:hover{
  border-color: #880000 !important;
}



