// src/sass/variables.scss
@import "~vuetify/src/styles/styles.sass";

$body-font-family: "Nunito", sans-serif !important;
$heading-font-family: $body-font-family, sans-seriff;

// The variables you want to modify
$font-size-root: 13px;
// For updating SASS lists
$material-light: map-merge(
  $material-light,
  (
    cards: blue,
  )
);
$btn-border-radius: 0px !important;
$btn-text-transform: capitalize !important;
$btn-letter-spacing: 0.05rem !important;

@each $heading, $style in $headings {
  $headings: map-merge(
    $headings,
    (
      $heading:
        map-merge(
          $style,
          (
            "font-family": $heading-font-family,
          )
        ),
    )
  );
}
